[Unit]
Description=Run webcam service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/drazer_cam/video_server/main.py /home/drazer_cam/video_server/

[Install]
WantedBy=multi-user.target
